<nav class="navigation-container">
  <a href="" routerLink="">
    <div class="logo-container">
      <figure>
        <img class="logo" src="../../assets/img/angular-guitar-shop-logo.jpg" alt="logo">
      </figure>
    </div>
  </a>
  <ul>
    <li>
      <a routerLink="login/login">Login</a>
      <a routerLink="cart">
        <figure>
          <img class="shopping-cart" src="https://cdn-icons-png.flaticon.com/512/263/263142.png" alt="">
        </figure>
      </a>
      <p [ngStyle]="{'color' : (amount_products_shoppingCart > 0) ? 'red': '#000'}"  >({{amount_products_shoppingCart}})</p>

    </li>
  </ul>
</nav>
