.shopping-cart{
  max-width: 40px;
}
.logo{
  max-width: 300px;
  margin: 5rem;
}
.navigation-container{
  display: flex;
  -ms-flex-direction: row;
  width: 100%;
  justify-content: space-between;
  max-width: 1000px;
  align-items: baseline;
  margin: 10px auto;
}
.navigation-container ul li{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.navigation-container ul li a {
  margin: 15px;
}

