<nav class="navigation-container" >
  <a href="" routerLink="" >
    <div class="logo-container">
      <figure>
        <img class="logo" src="../../assets/img/angular-guitar-shop-logo.jpg" alt="logo">
      </figure>
    </div>
  </a>
  <ul>
    <li *ngIf="(userRole == 'ROLE_ADMIN' || userRole == 'ROLE_MANAGER') && isLoggedIn">
      <a   routerLink="admin/manage/mods"> Users </a>
    </li>
    <li *ngIf="isLoggedIn && userRole == 'ROLE_ADMIN' || userRole == 'ROLE_MANAGER'">
      <a  routerLink="admin/manage/product"> Products </a>
    </li>
    <li *ngIf="isLoggedIn && userRole == 'ROLE_ADMIN' || userRole == 'ROLE_MANAGER'">
      <a routerLink="admin/manage/orders"> Orders </a>
    </li>
    <li *ngIf="isLoggedIn">
      <a  routerLink="admin"> Profile </a> 
    </li>
    <li *ngIf="!isLoggedIn || userRole == null">
      <a routerLink="login" >Login</a>
    </li>
    <li *ngIf="isLoggedIn && userRole != null">
      <a  (click)="logout()" routerLink="" >Logout</a>
    </li>
    <li class="cart-container">
      <a routerLink="cart">
        <figure>
          <img class="shopping-cart" src="https://cdn-icons-png.flaticon.com/512/263/263142.png" alt="">
        </figure>
      </a>
      <p class="shopping-cart-quantity-text" *ngIf="amount_products_shoppingCart > 0"  [ngStyle]="{'color' : (amount_products_shoppingCart > 0) ? '#aA202C': '#000'}" > {{amount_products_shoppingCart}} </p>
    </li>
  </ul>
</nav>
