
<div class="container">
  <section class="check-login" *ngIf="!isLoggedIn">
    <h4>You need to login to place an order</h4>
    <p>Go to <a routerLink="../login">login</a></p>
  </section>

  
  <!-- <section *ngIf="isLoggedIn || guest" class="address-details"> -->
  <section *ngIf="isLoggedIn">
    <h1 style="font-size:300%;">Checkout</h1>
    <app-order-summary [shoppingCartLineList]="productRowList"></app-order-summary>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate > 
      <h2>Shipping Information</h2>
    
      <div class="field" tabindex="2">
        <label for="zipcode">
          <i class="far fa-envelope"></i>Zipcode*
        </label>
        <input ngModel name="zipcode" type="text" placeholder="e.g. 1234AB" required>
      </div>
      <div class="field" tabindex="2">
        <label for="addressLine">
          <i class="far fa-envelope"></i>Street + Nr.*
        </label>
        <input ngModel name="addressLine" type="text" placeholder="e.g. straatnaam 1" required>
      </div>
      <div class="field" tabindex="2">
        <label for="city">
          <i class="far fa-envelope"></i>City*
        </label>
        <input ngModel name="city" type="text" placeholder="e.g. Leiden" required>
      </div>
      <div class="field" tabindex="2">
        <label for="phone">
          <i class="far fa-envelope"></i>Phone number
        </label>
        <input ngModel name="phone" type="tel" placeholder="e.g. 0612345678" required>
      </div>
      <!-- error message -->
      <div class="error-message alert danger" *ngIf="formError">
        <p>{{errorMessage}}</p>
      </div>
      <button type="submit" class="btn-primary">Bestelling plaatsen</button>
    </form>
    
    
  </section>
  
  

</div>

