
$primary-color: #2D2A32;
$secondary-color: #DDD92A;
$baby-powder: #FAFDF6;


.container {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

form {
  width: 600px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
form div,
form label,
form input,
form textarea {
  width: 100%;
  transition: 0.4s !important;
  margin: 5px;
}

.field:nth-of-type(2) {
  margin: 16px 0;
}

label,
input,
textarea {
  padding: 8px;
}

label,
[placeholder] {
  color: #555;
}

label i {
  margin: 0 10px 0 0;
}

.field:focus-within label {
  color: #000;
  letter-spacing: 2px;
}

input,
textarea,
select {
  background: #f6f6f6;
  border: none;
  border-radius: 4px;
  /* box-shadow: 0 8px 6px -6px #555; */
}
input:focus,
textarea:focus {
  background: rgba(233, 233, 233, 0.1);
  /* box-shadow: none; */
}

textarea {
  resize: none;
}
textarea::-webkit-scrollbar {
  width: 0;
}




@media (max-width: 425px) {
  form {
    width: 100%;
  }
}

// checkout btn make it easy to see
.btn-primary{
  background-color: $secondary-color;
  color: $primary-color;
  border: none;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  &:hover{
    background-color: $primary-color;
    color: $secondary-color;
  }
}

.back-btn-container{
  width: 100%;
  align-items: left;
  justify-content: left;
  
}
// put it above the checkout text 
.back-btn{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: $secondary-color;
  color: $primary-color;
  border: none;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  &:hover{
    background-color: $primary-color;
    color: $secondary-color;
  }
}