
.product-details{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  
}
/* media query max width 700px */
@media screen and (max-width: 800px){
  .product-details{
    flex-direction: column;
  }
}

.product-details__image{
  max-height: 600px;
}
.product-details__descriptions{
  display: flex;
  flex-direction: column;
  margin: 20px;
  color: #555;
  line-grid-progression: 20;
}
.product-details figure{
  margin: 0;
  width: 100%;
  min-width: 500px;
  text-align-last: center;
}
.product-details__name{
  color: #555;
}

