
<div class="product-details-container">
  <div class="product-details">
    <div class="product-details-image">
      <figure class="product-details-image-container">
        <img class="product-details-image-container-image" src="{{productDetails.imagePath}}" alt="">
      </figure>
    </div>
    <div class="product-details-info">
      <div class="product-details-info-container">
        <h2 class="product-details-info-container-name"> {{ productDetails.name }} </h2>
        <h3 class="product-details-info-container-price">{{productDetails.price}}€</h3>
        <app-product-controller [product]="productDetails"></app-product-controller>
        <h4 class="product-details-info-container-description">{{productDetails.description}}</h4>
      </div>
    </div>
  </div>
 
</div>
 