// import scss from app.component.scss
// @import '../app.component.scss';
// define variable primary color, secondary color and babypowder

$primary-color: #2D2A32;
$secondary-color: #DDD92A;
$baby-powder: #FAFDF6;

.orders{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: $primary-color;
}
.order-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 1rem;
    padding: 0.5rem;
    max-width: 900px;
    width: 100%;
    background: #33365222;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.shippingAddress-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0.5rem;
    border: 1px solid $baby-powder;
    border-radius: 5px;
    padding: 0.5rem;
    
}
.orderLine-info{
    display: flex;
    flex-direction: row;
    align-items: left;
    margin: 0.5rem;
    border: 1px solid $baby-powder;
    border-radius: 5px;
    padding: 0.5rem;
}

.orderLine-image img{
    width: 100px;
    height: 100px;
}
.orderLine-info-text{
    
    margin: 0.5rem;
}
.order-details{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    margin: 0.5rem;
}
.order-actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.2rem;
    padding: 0.2rem;
    border-radius: 5px;
}

.order-actions select{
    width: 200px;
    height: 30px;
    border: 1px solid #33365222;
    border-radius: 5px;
}


/* CSS */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


.filter-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.filter-container select{
    width: 200px;
    height: 30px;
    border: 1px solid #33365222;
    border-radius: 5px;
}



table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #33365222;
    border-radius: 5px;
    padding: 1rem;
    overflow-x: auto;
}

th{
    padding: 1rem;
    background: #000;
    color: $secondary-color;
}

td{
    border: 1px solid #00000022;
    border-radius: 5px;
    padding: 1rem;
}

/* CSS */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}