.product-editor-controller{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-flow: row;
}
.product-details__product-controller__total-amount-product{
  font-size: 150%;
  color: #292929;
  margin: 5px;
}
.product-details__product-controller__edit-product-amount{
  background-color: #0000;
  color: #a92299;
  border: none;
  font-size: 150%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


/*tst*/
a{
  position: relative;
  display: inline-block;
  padding: 15px 23px;
  color: #a92299;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-left: 3rem;
}
a:hover{
  cursor: pointer;
  background: #a92299;
  color: #050801;
  box-shadow: 0 0 5px #a92299,
  0 0 25px #a92299,
  0 0 50px #a92299,
  0 0 200px #a92299;
  /*-webkit-box-reflect:below 1px linear-gradient(transparent, #0005);*/
}
a:nth-child(1){
  filter: hue-rotate(270deg);
}
a:nth-child(2){
  filter: hue-rotate(110deg);
}
a span{
  position: absolute;
  display: block;
}
a span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#a92299);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
    left: -100%;
  }
  50%,100%{
    left: 100%;
  }
}
a span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#a92299);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
    top: -100%;
  }
  50%,100%{
    top: 100%;
  }
}
a span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#a92299);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
    right: -100%;
  }
  50%,100%{
    right: 100%;
  }
}


a span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#a92299);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4{
  0%{
    bottom: -100%;
  }
  50%,100%{
    bottom: 100%;
  }
}
