<div class="product-editor-controller">

  <button
    class="product-details__product-controller__edit-product-amount"
    (click)="raiseAmount()">
    &#43; </button>

  <p
    class="product-details__product-controller__total-amount-product">
    {{amount_product}} </p>

  <button
    class="product-details__product-controller__edit-product-amount"
    (click)="lowerAmount()">
    &#8722; </button>

  <button class="add-products-to-shoppingcart-btn"
          (click)="addProductToCart()">
    Add to shopping cart
  </button>

</div>
