*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.product-image{
  max-width: 200px;
  transition: 0.5s;
  padding: 10px;
}
.product-image:hover{
  transform: scale(1.07);
}
.product-item{
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: left;
  max-width: 200px;
}
.prodduct-name{
  font-size: 1rem;
  color: #333652;
}
.product-list{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  max-width: 1000px;
  justify-content: center;
}
.product-pice{
  color: #333652;
}