
a{
  text-decoration: none;
}
.product-image{
  max-width: 170px;
  max-height: 350px;
  transition: 0.5s;
}
.product-image:hover{
  transform: scale(1.07);
}
.product-item{
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: center;
  max-width: 200px;
}
.product-list{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  max-width: 1000px;
}
