
.users-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    .users{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        .user{
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: left;
            width: 100%;
            height: 100%;
            padding: 10px;
            .user-info{
                display: flex;
                flex-direction: column;
                align-items: left;
                justify-content: center;
                width: 100%;
                height: 100%;
                padding: 10px;
                .user-name{
                    font-size: 20px;
                    font-weight: bold;
                }
                .user-email{
                    font-size: 15px;
                    font-weight: bold;
                }
            }
            .user-action-button{
                padding: 10px;

                .user-action-button-text{
                    background: #FF4742;
                    border: 1px solid #FF4742;
                    border-radius: 6px;
                    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
                    box-sizing: border-box;
                    color: #FFFFFF;
                    cursor: pointer;
                    display: inline-block;
                    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
                    font-size: 16px;
                    font-weight: 800;
                    line-height: 16px;
                    min-height: 40px;
                    outline: 0;
                    padding: 12px 14px;
                    text-align: center;
                    text-rendering: geometricprecision;
                    text-transform: none;
                    user-select: none;
                    -webkit-user-select: none;
                    touch-action: manipulation;
                    vertical-align: middle;
                    transition: 0.4s;
                    &:hover,
                    &:active {
                    background-color: initial;
                    background-position: 0 0;
                    color: #FF4742;
                    }
                    &:active {
                    opacity: .5;
                    }
                }
            }
        }
    }
}