<!-- add manager form username + password and go back to manage-mods on submit -->

<a [routerLink]="['/admin']" class="back-btn">
  < Back
</a>

<h2>Add new Manager</h2>
<div id="formContent">
    <!-- Register Form -->
    <form #registerForm="ngForm"  (submit)="saveManager(registerForm)" ngNativeValidate>
      <input type="text" id="fullname" class="fadeIn second" name="fullname" placeholder="full name" ngModel required>
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="username" ngModel required>
      <div *ngIf="usernameExistsError" class="alert alert-warning">Username is taken!</div>
      <input type="email" id="email" class="fadeIn second" name="email" placeholder="Email" ngModel required>
      <input #pw1 type="password" id="password" class="fadeIn third" name="password" placeholder="password" ngModel pattern="(?=.*\d)(?=.*[\W_]).{7,}" title="Minimum of 7 characters. Should have at least one special character and one number.">
      <input #pw2 type="password" id="password-2" class="fadeIn third" name="password2" placeholder="confirm password" ngModel>
      <p class="passwordInstructions"> Minimum of 7 characters. <br> Should have at least one special character and one number. </p>
      <div *ngIf="pw1.value !== pw2.value" class="alert alert-danger">Passwords do not match</div>
      <input type="submit" class="fadeIn fourth btn" value="Register" [disabled]="pw1.value !== pw2.value">
    </form>
    <div *ngIf="unknownError && !success" class="alert alert-warning">Unkown error error occurred pleas try again later!</div>
    <div *ngIf="success" class="alert alert-success">Manager added successfully!</div>

  </div>