<!-- add go back button to manage products -->
<button class="btn btn-primary go-back-btn" routerLink="/admin/manage/product">Go Back</button>
<!-- form for adding new product -->
<form #myForm="ngForm" (submit)="onUploadProduct(myForm.value)" ngNativeValidate>
  <h2>Add new product</h2>
  <div class="form-group">
    <label for="name">Name</label>
    <input name="name" type="text" class="form-control" id="name" placeholder="Enter name" ngModel required>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input name="price" step="any" type="number" class="form-control" id="price" placeholder="Enter price" ngModel required>
  </div>
  <!-- description as texterea -->
  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description"  class="form-control" id="description" rows="8" ngModel required></textarea>
  </div>
  <div class="form-group">
    <label for="imagepath">ImagePath</label>
    <input name="imagepath" type="text" class="form-control" id="imagepath" placeholder="Enter image path" ngModel required>
  </div>
  <!-- select product status active or hidden -->
  <div class="form-group">
    <label for="status">Status</label>
    <select name="status" class="form-control" id="status" ngModel required>
      <option value="active">Active</option>
      <option value="hidden">Hidden</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary submit-btn" [disabled]="!myForm.valid" >Submit</button>
</form>