*{
  margin: 0;
  padding: 0;
}
.product-container{
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.3px solid #33365222;
}
.product-line-pic-name{
  display: flex;
}
.cart-lines-container{
  /*width: 60%;*/
  max-width: 900px;
  margin: 5rem;
}
.product-item-image{
  margin: 10px;
}
.product-item-name{
  margin: 5px;
  text-decoration: none;
  color: #333652;
  font-size: 1rem;

}
.cart-line-price-total{
  color: #333652;
  font-size: 160%;
  margin: auto 5px;
}
.shopping-cart-header{
  padding: 1.7rem;
}

.shopping-cart-page-container{
  display: grid;
  margin: 1.5rem;
  grid-template-columns: 70% 30%;
  align-items: baseline;
}
@media all and (max-width:950px){
  .cart-lines-container{
    width: 100%;
    margin: 4rem auto;

  }
  .product-container{
    /*margin: auto;*/
  }
  .shopping-cart-page-container{
    grid-template-columns: 100%;
  }
}

.checkout-btn{
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  color: #333652;
  font-size: 1.2rem;
  background-color: #FAD02C;
  border: none;
  border-radius: 0;
  transition: 0.4s;
}
.checkout-btn:hover{
  transform: scale(1.01);
  letter-spacing: 3px;
}
