$primary-color: #2D2A32;
$secondary-color: #DDD92A;
$baby-powder: #FAFDF6;

/* style buttnon */
.add-product-btn {
    width: 140px;
    border: none;
    height: 30px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color:yellowgreen;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    transition: 0.5s;
    &:focus{
        outline: none;
    }
    &:hover{
        background-color: #9bc317;
        cursor: pointer;
    }
}

/* style table */

table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #33365222;
  border-radius: 5px;
  padding: 1rem;
  overflow-x: auto;
}

th{
  padding: 1rem;
  background: #000;
  color: $secondary-color;
}

td{
  border: 1px solid #00000022;
  border-radius: 5px;
  padding: 1rem;
}

.page-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}
/* style edit button as warning small size */
.edit-btn {
  background-color: #ff9800; /* Orange */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
}


/* style delete button danger small size */
.delete-btn {
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
}