.overview-container{
  background-color: #FAD02C;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  max-width: 1000px;
  justify-content: center;
  
}

.product-overview-header{
  padding: 1rem;
  color: #333652;
}

.overview-product-image{
  max-width: 150px;

}
mat-dialog-content{
  margin: auto;
  width: 90%;
  overflow: hidden;
  max-height: fit-content !important;
  color: #333652;
}
.product-overview-body{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 20px;
  overflow: hidden;
  height: 100%;
  
}
.product-overview-details{
  display: flex;
  flex-direction: column;
  margin: 20px;
  color: #333652;
}

.product-overview-body{
  display: flex;
}
.item-view{
  border-right: 0.3px solid #29292955;
  padding: 1rem;
  display: flex;
  width: 70%;
}
.shopping-cart-view{
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.overlay{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #29292977;
}
.mat-raised-button{
  background-color: #333652;
  color: #FAD02C;
  border: none;
  padding: 5px;
  margin: 5px;

}
.mat-dialog-actions{
  margin-bottom: 0 !important;
  min-height: none !important;
}