*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.personal-info-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 2rem;
    padding: 1rem;
    max-width: 600px;
    width: 100%;
    background: #33365222;
}

.personal-info{
    display: flex;
    flex-direction: row;
    align-items: left;
    margin: 1rem;
    border: 1px solid #33365222;
    border-radius: 5px;
    padding: 1rem;
}

.personal-info-text{
    margin: 0.5rem;
}



.order-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 2rem;
    padding: 1rem;
    max-width: 600px;
    width: 100%;
    background: #33365222;

}
.shippingAddress-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 1rem;
    border: 1px solid #33365222;
    border-radius: 5px;
    padding: 1rem;
    
}
.orderLine-info{
    display: flex;
    flex-direction: row;
    align-items: left;
    margin: 1rem;
    border: 1px solid #33365222;
    border-radius: 5px;
    padding: 1rem;
}

.orderLine-image img{
    width: 100px;
    height: 100px;
}
.orderLine-info-text{
    
    margin: 0.5rem;
}


form{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    margin: 0.5rem;
    input{
        margin: 0.5rem;
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid #33365222;
    }
    button{
        margin: 0.5rem;
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid #33365222;
        background: #33365222;
        color: white;
    }
}