<h2>Personal Info:</h2>
<p> fullname: {{ userDetails["fullname"]  }} </p>
<p> email: {{ userDetails["email"] }} </p>
<!-- add button to change user email -->
<!-- <button class="button-3" (click)="changeEmail()">Change email</button> -->

<app-orders-overview *ngIf="userRole == 'ROLE_USER'"></app-orders-overview>




<!-- 
<h1 *ngIf="userRole == 'ROLE_USER'">Orders ({{ orders.length }})</h1>
<div *ngIf="userRole == 'ROLE_USER'">
    <div class="order-container" *ngFor="let order of orders"> 
        <div class="orderLine-container">
            <div class="orderLine" *ngFor="let orderLine of order['orederLines']">
                <div class="orderLine-info">
                    <div class="orderLine-image">
                        <img src="{{ orderLine['product_image'] }}" alt="{{ orderLine['product_name'] }}">
                    </div>
                    <div class="orderLine-info-text">
                        <p> <strong>{{ orderLine["product_name"] }} </strong> </p>
                        <p> quantity: <strong>{{ orderLine["amount"] }} </strong> </p>
                        <p>  <strong>{{ orderLine["product_price"] }}  </strong>  </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="shippingAddress-container">
            <p>Shipping Address:</p>
            <div>
                <p> {{ order["shippingAddress"]["addressLine"] }}</p>
                <p> {{ order["shippingAddress"]["zipcode"] }} - {{ order["shippingAddress"]["city"] }}</p>
                <p> {{ order["shippingAddress"]["land"] }}</p>
                <p> {{ order["shippingAddress"]["phone"] }} </p>
            </div>
        </div>
        <p> {{ order["orderDate"] }} </p>
        <h4>order: {{order["id"]}} </h4>
        <p> Total price: <strong>{{ order["totalPrice"] }}€ </strong>  </p>
        <div>
            <p [ngStyle]="{'color' : (order['orderStatus']=='PROCESSING') ? 'orange': 'green'}"> <strong>{{ order["orderStatus"] }} </strong> </p>
        </div>
    </div>
</div>
 -->


<!-- <h2> {{ userAddress["city"] }} </h2> -->


<!-- 
<div class="action-items-list sidebar">
    <div class="item-container">
        <h2>Manage moderators</h2>
    </div>
</div> -->
