$primary-color: #2D2A32;
$secondary-color: #DDD92A;
$baby-powder: #FAFDF6;

.order-summary-container{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .order-summary-table{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
  }
  .order-summary-table-item{
    margin: 0.5rem;
  }
  .order-summary-header{
    padding: 1rem;
  }
  .order-summary{
    display: flex;
    flex-direction: column;
    align-items: left;
    // margin: 1rem; 
    border: 1px solid #33365222;
    border-radius: 5px;
    padding: 1rem;
    
  }
  .order-amount-items-total-after-shipping{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
  
  }