<!-- select manage orders, users, products ->  vertical list-->


<app-admin></app-admin>

<mat-tab-group class="test" fitInkBarToContent>
    <mat-tab label="Orders" class="test1">
        <section id="order">
            <app-orders-overview></app-orders-overview>
        </section>
    </mat-tab>
    <mat-tab label="Users" class="test1">
        <section id="user">
            <app-manage-moderators></app-manage-moderators>
        </section>
        
    </mat-tab>
    <mat-tab label="Products" class="test1">
        <section id="product">
            <app-manage-products></app-manage-products>
        </section>
    </mat-tab>
</mat-tab-group>


